/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    height: 100%;
}

div {
    /*background-color: #E8E8E8;*/
    height: 31vh;

    margin: auto;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 2vh;
    text-align: center;
    font-family: 'Bitter', serif;
    font-size: 6vh;
    border-radius: 4px;
    line-height: normal;
    vertical-align: middle;
}

header {
    font-size: 14vh;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    border-bottom: solid 1.4vh;
    margin-bottom: 0;
    padding-bottom: 1vh;
    width: 100%;

}

.answer_buttons_right {
    text-align: right;
}

#answer_container {
    height: 29vh;
    text-align: right;
    font-family: 'Vollkorn', serif;
    font-size: 2.8vw;
    margin-top: 1vh;
    padding-top: 5vh;
    -moz-column-count: 2;
    -moz-column-gap: 8w;
    -webkit-column-count: 2;
    -webkit-column-gap: 8vw;
    column-count: 2;
    column-gap: 8vw;
}

#answer_container > label {
    display: block;
    padding-top: 1vh;
    height: 10vh;
}

.right_answers {
    display: block;
    text-align: left;
    /*position: relative;
    top: -0.08em;*/
}

input[type=radio]:not(old){
  width   : 0;
  margin  : 0;
  padding : 0;
  font-size:0;
  opacity : 0;
  overflow: hidden;
}

label > span {
    width: 0.5em;
    height: 0.5em;
    margin: 0.2em;
    margin-bottom: 0;
    border: 0.0831245em solid black;
    border-radius: 50%;
    display:inline-block;
    position: relative;
    top: 0.1em;

}

input[type=radio]:checked + span > span {
    width: 0.5em;
    height: 0.5em;
    background-color: black;
    border-radius: 50%;
    display: block;
    position: absolute;
}

#buttons {
    width: 100%;
    height: 15.8vh;
    text-align: center;
}

#buttons > label {
    font-family: 'Bitter', sans-serif;
    font-size: 7.2vh;
    padding-top: 0;
    vertical-align: middle;
    line-height: normal;
    display: inline-block;
    margin: auto;
}
/* Hides submit button */
.button input {
  width   : 0;
  margin  : 0;
  padding : 0;
  font-size:0;
  opacity : 0;
  overflow: hidden;
}

#score {
    /*background-color: #E8E8E8;*/
    width: 67%;
    margin: auto;
    margin-top: 0.4em;
    text-align: center;
    font-family: 'Bitter', serif;
    font-size: 4em;
    border-radius: 4px;
}

#question_text {
    /*background-color: #E8E8E8;*/
    height: 31vh;

    margin: auto;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 2vh;
    text-align: center;
    font-family: 'Bitter', serif;
    font-size: 6vh;
    border-radius: 4px;
    display: table-cell;
    line-height: normal;
    vertical-align: middle;
}

#question_text > div {
    display: inline-block;
    text-align: center;
    margin-left: 10vw;
    margin-right: 10vw;
}

.highlight {
    text-decoration: underline;
}